#LS_container {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 0px;
    bottom: 50px;
    /*  */
    background-color: green;
}

#LS_trigger {
    position: absolute;
    height: 100%;
    width: 40px;
    right: -20px;

    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    padding: 10px;

    writing-mode: vertical-rl;
    text-align: center;
    cursor: pointer;
/*  */
    background-color: yellow;
}

#LS_main_container {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#LS_title {
    color: white;
    font-size: 1.2em;
    margin: 0;
    position: relative;
    text-decoration: underline;
}

#LS_content {
    color: white;
    margin-left: 30px;
}

#LS_to_stage_page_linker {
    position: absolute;
    top: 10px;
    left: 450px;

    text-decoration: underline;
    color: white;
    cursor: pointer;
}