#RS_container {
    position: absolute;
    height: 100%;
    overflow: hidden;
    /*  */
    width: 300px;
    /*  */
}

#RS_trigger {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    color: white;
    top: 100px;
    width: 50px;
    height: 90px;
    padding: 20px 5px;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    background-color: rgba(70, 74, 84, 0.9);
}

#RS_main_container {
    position: absolute;
    left: 45px;
    width: 255px;
    height: 100%;
    background-color: rgba(36, 41, 44, 0.9);
    color: white;
}

#RS_page_selector {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#RS_page_selector_header {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.RS_page_selector_el{
    margin: 5px 0px 5px 20px;
    border: solid 1px white;
    height: 35px;
    cursor: pointer;
}

.RS_page_selector_highlighter {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.RS_page_selector_el:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.RS_menu_show {
    right: 0px;
    transition: all 0.4s ease;
}

.RS_menu_hide {
    right: -254px;
    transition: all 0.4s ease;
}

#RS_twitter {
    padding: 0px 20px;
}

.RS_menu_over {
    right: -240px;
}